body {
  background-color: black;
}

h1 {
  color: yellow;
}

img {
  width: 100px;
  padding-left: 50px;
  padding: 50px;
  position: right;
}

div img {
  width: 150px;
}

head {
  width: 200px;
  length: 200px;
}

h2 {
  color: white;
}
